<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col col-lg-6">
  <h1 [hidden]="isCross"
  >Player one turn</h1>
  <h1 [hidden]="!isCross">Player two turn</h1>
  <div class="grid">
    <div *ngFor="let item of itemArray ; let i = index">
        <div class="card">
          <div class="card-box box" (click)="handleClicks(i)">
            <app-icon [iconName]="item"></app-icon>
          </div>  
        </div>
      
    </div>
  </div>


    </div>
    <div class="col col-lg-6 text-center" *ngIf="winMessage">
      <h1 class="text-uppercase">Game Over {{ winMessage }}</h1>
      <button
        (click)="realoadGame()"
        class="btn btn-danger text-uppercase pl-5 pr-5"
      >
        Reload Game
      </button>
    </div>
  </div>
</div>
